<div style="text-align:center">
    <img src="./assets/image/SzeChuanNoodles.jpeg" height="250px" weight="50px">
    
    <div>
    <label>Name :  Szechuan Spicy Noodles</label><br>
    <label>Price : RM 11.90</label><br>
    <label>Description : Szechuan cuisine is characterized by the use of chilies, garlic and Szechuan peppercorn which gives it a bold, pungent, spicy flavour. A tantalizing and appetizing Szechuan noodle bowl looks like this: perfectly al dente glass noodle topped with tiny bites of chicken breast and stuffed crabsticks, drenched in a hot Szechuan soup that is guaranteed to get your taste-buds tingling with anticipation!</label><br>
    
    <a routerLink="/" routerLinkActive="active">Order Now</a>
    
    </div>
    </div>