<div style="text-align:center">
    <img src="./assets/image/SaltedEggBeef.jpeg" height="250px" weight="50px">
    
    <div>
    <label>Name : Baked Salted Egg Beef </label><br>
    <label>Price : RM 29.00</label><br>
    <label>Description : What's cheesy, hearty and totally irresistable? Let your tastebuds tingle with saltiness from the salted egg and tastiness of the sliced beef brisket. Peppered with Red Chili Padi and curry leaves, it is baked until the cheddar and mozzarella cheese oozes out. For a meal that is as stunning as it tastes, this one's the real deal! </label><br>
    
    <a routerLink="/" routerLinkActive="active">Order Now</a>
    
    </div>
    </div>