<div style="text-align:center">
    <img src="./assets/image/Spaghetti.jpeg" height="250px" weight="50px">
    
    <div>
    <label>Name : Spaghetti Chicken Bolognese</label><br>
    <label>Price : RM14.90</label><br>
    <label>Description : For an honest and fuss free meal, hit us up for this spag bog, topped with minced chicken cooked in tomato sauce, parmesan cheese along with a cherry tomato and parsley garnish on top. Makan time has never been so satisfying!</label><br>
    
    <a routerLink="/" routerLinkActive="active">Order Now</a>
    
    </div>
    </div>