<div style="text-align:center">
    <img src="./assets/image/KamHeongChicken.jpeg" height="250px" weight="50px">
  
    <div>
      <label>Name : Kam Heong Chicken</label><br>
      <label>Price : RM 14.90</label><br>
      <label>Description : "Kam Heong", or "Golden Fragrance" is a signature Malaysian stir-fried dish that will make you go ooh-la-la. Fiery spice from the bird's eye chillies and aromatic curry leaves - guaranteed to be finger licking good!</label><br>
  
      <a routerLink="/" routerLinkActive="active">Order Now</a>
  
    </div>
  </div>