<div style="text-align:center">
    <img src="./assets/image/AsamLaksak.jpeg" height="250px" weight="50px">
    
    <div>
    <label>Name : Assam Laksa</label><br>
    <label>Price : RM 9.90</label><br>
    <label>Description : Any Penang-nite will proudly boast of the Asam Laksa as their culinary pride. Laksa noodle is paired with a sour, spicy and intensely fishy soup, perked up with turmeric and freshened with pineapple, assam, daun kesom and lemongrass and finally, a dollop of ‘hae ko’ (shrimp paste). It’s what you would call a flavour drenched, hit-the-spot comfort food delight!</label><br>
    
    <a routerLink="/" routerLinkActive="active">Order Now</a>
    
    </div>
    </div>