<div style="text-align:center">
  
    
<nav style="text-align:center">
<a routerLink="/asamlaksak" routerLinkActive="active"><img src="./assets/image/AsamLaksak.jpeg" height="250px" weight="50px"></a>
        <a routerLink="/KamHeongChicken" routerLinkActive="active"><img src="./assets/image/KamHeongChicken.jpeg" height="250px" weight="50px"></a>
        <a routerLink="/MarmiteChicken" routerLinkActive="active"><img src="./assets/image/MarmiteChicken.jpeg" height="250px" weight="50px"></a>
        <a routerLink="/SaltedEggBeef" routerLinkActive="active"><img src="./assets/image/SaltedEggBeef.jpeg" height="250px" weight="50px"></a>
        <a routerLink="/SzeChuanNoodles" routerLinkActive="active"><img src="./assets/image/SzeChuanNoodles.jpeg" height="250px" weight="50px"></a>
        <a routerLink="/Spaghetti" routerLinkActive="active"><img src="./assets/image/Spaghetti.jpeg" height="250px" weight="50px"></a>
      </nav></div>
<br/>
